/* Global Styling */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
  margin: 10px 0;
}

a {
  cursor: pointer;
}

a:focus, a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Custom Styling */
.container .col-sm-8 {
  display: table;
  text-align: center;
  min-height: 600px;
}

.timer {
  display: table-cell;
  vertical-align: middle;
}

.timer .my-timer {
  font-size: 7rem;
  display: block;
  margin-bottom: 10px;
}

.timer h2 {
  color: #999;
  font-family: monospace;
}

.container .col-sm-4 {
  background-color: #bbb;
  min-height: 600px;
  padding: 10px 30px;
  color: #333;
  font-family: monospace;
}

.container input[type="submit"] {
  margin-top: 10px;
}
